/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f3efef;
  /* position: fixed; */
}

.App {
  /* margin: 0; */
  width: 100vw;
  height: 100vh;
  background-color: rgb(20, 24, 28);
}

/* Container for main content */
.container {
 
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 20px; */
}




