.nav-container{
    display: flex;
    justify-content: space-between;
    /* max-width: 1200px;
    margin: auto; */
    
    
}
.left-nav{
    display: flex;
    align-items: end;
}
.mid-nav{
    width: 10rem;
    display: flex;
    justify-content: space-between;
}
.right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}