*{
    box-sizing: border-box;
}
.template-container{
    max-width: 1130px;
    margin: 0 auto;
     display: flex;
     justify-content: space-between;
     /* padding-top: 48px; */
    padding-top: 100px;
    /* gap: 20rem; */
    width: 91%;
   
}
.left-section{
    max-width: 450px;
    /* width: 91.6%; */

    h1{
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 45px;
        
        color: white;
    }
    p{
        font-size: 1.125rem;
        line-height: 26px;
        margin-top: 4px;
        .span1{
            color: white;
        }
        .span2{
            color: rgb(25, 116, 146);
            font-style: italic;
        }
    }
}
.or-divider{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 3px;
    p{
        color:rgb(25, 116, 146); ;
    }
   
}
.left-dash{
    width: 100%;
   height: 1px;
   background-color: rgb(76, 74, 74)


}
.right-dash{
    width: 100%;
   height: 1px;
   background-color: rgb(76, 74, 74)
   }
.google-signup-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(20,24,28);
    color: white;
    border: solid 1px rgb(108, 103, 103);
    padding: 8px 12px 8px 12px;
    gap: 2px;
    margin-top: 6px ;
    margin-bottom: 6px;
    border
    .google-font{
        width:30px;
        height: 40px;
    }
}
.right-section{
    position: relative;
    width: 91.6%;
    max-width: 450px;
}
.img2{
    position: absolute ;
    top: 20px;
    /* bottom: 20px; */
    right: 20px;
}

